*{
	background-color:black;
}
.heading{
	margin: 5px;
	border-style: dashed;
	border-width: 2px;
	padding:4px;
}

.generalText{
	color: #ff9d00;
	font-family: "Courier";
}



.heading.generalText{}

p>a{
	text-decoration: none ;
	line-height:1.5;
	color: #ffca0c;
}


.generalText.myLink{
}


#image{
	font-size:50%;
	text-align:center;
	margin: auto;
	width: 50%;
	padding:10px;
	text-decoration: none;
}
