*{
	background-color:black;
}


a{
	text-decoration: none ;
	line-height:1;
	color: #ffca0c;
	text-decoration: none;
}

.boxit{
	margin: 3px;
	border-style: dashed;
	border-width: 2px;
	padding:10px;
	border-color: #ff9d00;
	color: #ff9d00;
	font-family: "Courier";
}

.title{
	font-size:105%;
	color: #ffca0c;
	text-transform: uppercase;
	text-decoration: bold;
}

.link{

}

.boxit > .title{
	
}

.title > .link{

}

.words{
	text-indent:20px;
}

.boxit > .words{

}

#logo a:hover{
	text-decoration: none;
}


#bio{
	width: 900px;
	text-align: justify;
}

#logo{
	flex-grow:1;
	font-size:95%;
	text-align:left;
}

#links{
	width: 600px;
	text-align: justify;
}

#dsprojects{
	flex-grow:1;
}

#sidebyside{
	display: flex;

}
